.rockets-card {
  width: 90%;
  margin: 1rem auto;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
}

.rockets-img {
  width: 18rem;
  height: auto;
}

.rockets-detail {
  width: auto;
}

.btn-reserved {
  padding: 0 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
